.form {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 900px;
  gap: 1rem;

  border-radius: var(--border-radius);

  & > div:last-child {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  & > small {
    position: absolute;
    display: flex;
    align-items: flex-end;

    bottom: 1rem;
    gap: 1rem;
    font-size: 0.75rem;
    padding: 0 0.5rem;
  }
}
